body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 48px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#bandom-home {
    font-family: 'Moon Dance';
    margin: 0px 20px 0px 0px;
    font-size: 50px;
    color: black;
}

p {
    font-family: 'Ubuntu', sans-serif;
}

#nav {
    background-color: #afcbee;
    color: white;
    width: 100%;
    height: 75px;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    float: right;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: black;
}

.nav-svg {
    margin: 5px;
}

/* HOME PAGE */

#newest-styles, #exclusives, #catalogue {
    position: relative;
    margin: 10px;
}

#newest-style-img, #exclusives-img {
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    border-radius: 5px;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#wishlist-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#wishlist {
    margin: 5px;
    font-family: 'Inter', sans-serif;
}

#wishlist h2 {
    margin-left: 5px;
}

.wishlist-item {
    width: 120px;
    height: 160px;
    margin: 5px;
}

.wishlist-item > img {
    width: 100%;
    height: 100%;
}

#catalogue {
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #0e2544;
    height: 90px;
}

#catalogue a {
    text-decoration: none;
    color: white;
    font-size: 48px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

/* PRODUCT PAGE */

#product-info {
    margin: 10px;
}

#product-image, #product-name, #product-price, #product-description {
    text-align: center;
}

#product-image img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: black solid 2px;
    margin: auto
}

.hidden {
    display: none;
}

#sizing-chart-h4 {
    text-decoration: underline;
}

#sizing-chart-image {
    width: 100%
}

#options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#size-container, #colour-container {
    position: relative;
    width: 175px;
    height: 30px;
    overflow: hidden;
}

#size-container select, #colour-container select {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 15px;
    text-align: left;
    padding-left: 10px;
    cursor: pointer;
}

#size-container select::after, #colour-container select::after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

#size-container select::-ms-expand, #colour-container select::-ms-expand {
    display: none;
}


#size-container select:hover, #colour-container select:hover {
    background-color: #f0f0f0;
}

#rating {
    text-align: center;
    margin: 10px;
}

#rating h3, #rating h4 {
    margin: 5px;
}

.star {
    color: gold;
    font-size: 30px;
    margin-right: 5px;
}

.star.empty {
    color: darkgray
}

#reviews-container {
    margin: 10px;
}

.review-title {
    font-weight: bold;
}

#related-container {
    margin: 10px;
}

#items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.related-item {
    width: 75px;
    height: 75px;
    margin: 5px;
}

.related-item img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 1px solid black;
}