#products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 10px;
}

#search-container {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

#search-container input {
    width: 75%;
}

input {
    border-radius: 10px;
}

#search-button {
    height: 100%;
    width: 75px;
    background-color: #0e2544; /* Customize button styles */
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: auto;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 175px;
    height: 310px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: #cecece;
}

.product-image-container {
    height: 225px;
    width: 100%;
}

.product-image-container img {
    height: 100%;
    width: 100%;
}

.product-info {
    width: 100%;
    margin-left: 10px;
    padding: 0;
    flex: 0.5;
    font-size: 0.75rem;
    text-align: left;
}

.product-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    padding: 0;
    width: 100%;
    height: 15px;
    flex: 0.5;
    text-align: left;
}

.product-price img {
    height: 25px;
    width: 25px;
    margin-right: 10px;
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.pagination button.prev-page {
    height: 50px;
    width: 100px;
    background-color: #0e2544; /* Customize button styles */
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: auto;
}

.pagination button.next-page {
    height: 50px;
    width: 100px;
    background-color: #0e2544; /* Customize button styles */
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
}