body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 48px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#bandom-home {
    font-family: 'Moon Dance';
    font-size: 50px;
    color: black;
    text-align: center;
}

p {
    font-family: 'Ubuntu', sans-serif;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Adjust the padding as needed */
    height: 75px;
    background-color: #afcbee;
    color: white;
}

.nav-column {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav-column:first-child {
    justify-content: flex-start; /* Align the back button to the left */
}

.nav-column:last-child {
    justify-content: flex-end; /* Align the cart items to the right */
}

.nav-svg {
    width: 24px; /* Adjust the icon width as needed */
    height: 24px; /* Adjust the icon height as needed */
    margin: 0 10px; /* Add spacing between items */
}

#cart-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333; /* Adjust the color as needed */
    font-weight: bold;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    float: right;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: black;
}

#back-button{
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.badge {
    position: absolute;
    margin-bottom: 15px;
    right: 0;
    background-color: red; /* Background color of the badge */
    color: white; /* Text color of the badge */
    border-radius: 50%; /* Make it a circle */
    padding: 2px 6px; /* Adjust the padding for the badge */
    margin-right: 7px;
    font-size: 12px; /* Adjust the font size as needed */
}